<!-- Footer -->
<footer>
    Created by&nbsp;
    <a href="https://blog.edgystack.com" rel="noopener" target="_blank">
      EdgyStack
    </a>
    <a href="https://github.com/NetPenguins/edgylabs-angular-starter-theme" rel="noopener" target="_blank">
      <div class="github-star-badge">
        <svg
          class="material-icons"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
          />
        </svg>
        Star
      </div>
      <svg
        class="material-icons"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
          fill="#1976d2"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>
